@import url('https://fonts.googleapis.com/css?family=Cookie|Josefin+Slab');

@font-face {
    font-family: iconFont;
    src: url("../images/linea.ttf");
}

html {
    height: 100%;
}

body {
    background-image: url("../images/annie-spratt-210713-unsplash.jpg");
    background-repeat: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #172832;
}

.navbar {
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: #172832;
    color: white;
    /* border-bottom: 2px solid lightgray; */
}

/* .navbar-toggler {
    border-color: rgb(255, 255, 255);
} */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.home-link {
    color: white;
    font-family: iconFont;
}

.nav-link, .welcome-links {
    color: white;
    font-size: 18px;
}

.contact-link a {
    color: white;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 72px;
}

.welcome-links-icons a {
    color: white;
    font-size: 22px;
}

.welcome-links-icons-left {
    padding-left: 50px;
    padding-top: 25px;
}

.welcome-links-icons-right {
    padding-right: 50px;
    padding-top: 25px;
}

.welcome-links {
    text-shadow: 2px 2px black;
}

.navContainer {
    max-width: 960px;
    margin: auto;
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 200px;
}

.name {
    padding-top: 150px;
    margin: auto;
    display: block;
}

.welcome-links {
    margin: auto;
    display: block;
    text-align: center;
}

p {
    color: white;
}

.img-profile {
    max-width: 100%;
    height: auto;
}

.about-me-container, .contact-container, .portfolio-container {
    background: rgba(148, 149, 150, 0.5);
    margin-top: 100px;
    padding: 25px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 100px;
    overflow-y: scroll !important;
}

.contact-container {
    padding-bottom: 100px;
}

.about-me-container h1, .contact-container h1, .portfolio-container h1 {
    text-align: left;
    font-size: 72px;
}

footer {
    height: 50px;
    background-color: #172832;
    text-align: center;
    color: white;
    width: 100%;
    position: fixed; 
    bottom: 0;
    padding-top: 0px;
}

.card {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 25px; */
    background-color: #172832;
    margin: 25px auto;
}

.title a {
    color: white;
    text-align: center;
    margin: auto;
    /* font-family: 'Josefin Slab', serif; */
}

.hero-welcome-links {
    max-width: 300px;
    margin: auto;
}

label {
    color: white;
}

h5 a, h5 {
    color: white;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 150px;
    }
    body {
        background-image: url("../images/annie-spratt-210713-unsplash.jpg");
        background-color: #172832;
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
  }

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 120px;
    }
  }

@media screen and (max-width: 768px) {
    h1 {
        font-size: 100px;
    }

    
  }
@media screen and (max-width: 640px) {
    h1 {
        font-size: 65px;
    }

    .welcome-links {
        font-size: 14px;
    }

    .name {
        padding-top: 100px;
    }
  }